@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@if (ViewBag.Success != null)
{
    <div class="col-sm-12">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span class="badge rounded-pill bg-success">Powodzenie!</span>
            @ViewBag.Success
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close" />
        </div>
    </div>
}

<div class="jumbotron">
    <h1 class="display-4">System przechowywania danych</h1>
    <p class="lead">Witaj na stronie stronie, która ma na celu ułatwienie wykonywania rutynowych czynności domowych.</p>
    <hr class="my-4">
    <p>Aby rozpocząć pracę wybierz zakładkę z górnego paska.</p>
</div>
