@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-4">Lista zakupów</h1>
    <p class="lead">Witaj na stronie służącej do zarządzania listami zakupów.</p>
    <hr class="my-4">
    <p>Aby rozpocząć pracę wybierz zakładkę z górnego paska.</p>
</div>
