@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="card">
    <div class="card-header" style="display: table; width: 100%;">
        <div class="d-flex justify-content-between">
            <a href="@Url.Action("Index", new { controller = "Home" })" class="btn btn-secondary"><i class="fas fa-chevron-left"></i> Wstecz</a>
            <a href="@Url.Action("Add")" class="btn btn-success rounded"><i class="fa fa-plus-circle"></i> Dodaj listę zakupów</a>
        </div>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-auto mr-auto">

                <h3>
                    Listy zakupów
                </h3>
            </div>
        </div>

        <br />  
        <div id="no-more-tables">
            <table class="table table-responsive-lg table-condensed cf" id="ModelList">
                <thead class="table-dark cf">
                    <tr>
                        <th class="text-center align-middle" scope="col">#</th>
                        <th class="align-middle" scope="col">Nazwa</th>
                        <th class="align-middle text-center" scope="col">Ilość przedmiotów</th>
                        <th class="align-middle text-center" scope="col">Data utworzenia</th>
                        <th class="align-middle text-center" scope="col">ID</th>
                        <th class="align-middle text-center" scope="col">Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th data-title="#" class="align-middle text-center" scope="row">1</th>
                        <td data-title="Nazwa" class="align-middle">Lewiatan</td>
                        <td data-title="Ilość przedmiotów" class="align-middle" id="textCenter">5</td>
                        <td data-title="Data utworzenia" class="align-middle" id="textCenter">16.08.2021 08:00:00</td>
                        <td data-title="Id" class="align-middle" id="textCenter">1</td>
                        <td data-title="Akcje" class="align-middle" id="textCenter">
                            <a class="btn btn-secondary"><i class="fas fa-info"></i> Szczegóły</a>
                            <a class="btn btn-primary"><i class="fas fa-edit"></i> Edycja</a>
                            <a class="btn btn-danger"><i class="fas fa-trash-alt"></i> Usuń</a>
                        </td>
                    </tr>
                    <tr>
                        <th data-title="#" class="align-middle text-center" scope="row">2</th>
                        <td data-title="Nazwa" class="align-middle">Żabka</td>
                        <td data-title="Ilość" class="align-middle" id="textCenter">3</td>
                        <td data-title="Data utworzenia" class="align-middle" id="textCenter">16.08.2021 08:00:00</td>
                        <td data-title="Id" class="align-middle" id="textCenter">1</td>
                        <td data-title="Akcje" class="align-middle" id="textCenter">
                            <a class="btn btn-secondary"><i class="fas fa-info"></i> Szczegóły</a>
                            <a class="btn btn-primary"><i class="fas fa-edit"></i> Edycja</a>
                            <a class="btn btn-danger"><i class="fas fa-trash-alt"></i> Usuń</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    @*@if (ViewBag.Fullview)
    {
        <div class="card-footer">
            <button type="submit" name="action" value="approve" class="btn btn-success rounded">Zatwierdź zaznaczone</button>
        </div>
    }*@
</div>

<link rel="stylesheet" href="~/Content/DataTables/css/jquery.dataTables.css" />
<link rel="stylesheet" href="~/Content/Site.css" />
@*<link rel="stylesheet" href="~/Content/DataTables/css/dataTables.bootstrap.css" />*@
<script rel="JavaScript" type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.js"></script>

<script type="text/javascript">
    jQuery(function ($) {
        $(document).ready(function () {
            $('#ModelList').DataTable({
                "language": {
                    "url": "/Scripts/DataTables/Polish.json"
                },
                'aaSorting': []
            });
        });
    });
</script>

@*<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">
                Timetable
            </h2>
        </div>
        <div id="no-more-tables">
            <table class="table table-responsive-lg col-sm-12 table-bordered table-striped table-condensed cf">
                <thead class="cf">
                    <tr>
                        <th>      </th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="      ">07:45 |1| 08:35</td>
                        <td data-title="Monday">Lesson</td>
                        <td data-title="Tuesday">Lesson</td>
                        <td data-title="Wednesday">Lesson</td>
                        <td data-title="Thursday">Lesson</td>
                        <td data-title="Friday">Lesson</td>
                    </tr>
                    <tr>
                        <td data-title="      ">08:35 |2| 09:25</td>
                        <td data-title="Monday">Lesson</td>
                        <td data-title="Tuesday">Lesson</td>
                        <td data-title="Wednesday">Lesson</td>
                        <td data-title="Thursday">Lesson</td>
                        <td data-title="Friday">Lesson</td>
                    </tr>
                    <tr>
                        <td data-title="      ">09:30 |3| 10:20</td>
                        <td data-title="Monday">Lesson</td>
                        <td data-title="Tuesday">Lesson</td>
                        <td data-title="Wednesday">Lesson</td>
                        <td data-title="Thursday">Lesson</td>
                        <td data-title="Friday">Lesson</td>
                    </tr>
                    <tr>
                        <td data-title="      ">10:35 |4| 11:25</td>
                        <td data-title="Monday">Lesson</td>
                        <td data-title="Tuesday">Lesson</td>
                        <td data-title="Wednesday">Lesson</td>
                        <td data-title="Thursday">Lesson</td>

                        <td data-title="Friday">Lesson</td>
                    </tr>
                    <tr>
                        <td data-title="      ">11:30 |5| 12:20</td>
                        <td data-title="Monday">Lesson</td>
                        <td data-title="Tuesday">Lesson</td>
                        <td data-title="Wednesday">Lesson</td>
                        <td data-title="Thursday">Lesson</td>
                        <td data-title="Friday">Lesson</td>
                    </tr>
                    <tr>
                        <td data-title="      ">12:20 |6| 13:10</td>
                        <td data-title="Monday">Lesson</td>
                        <td data-title="Tuesday">Lesson</td>
                        <td data-title="Wednesday">Lesson</td>
                        <td data-title="Thursday">Lesson</td>
                        <td data-title="Friday">Lesson</td>
                    </tr>
                    <tr>
                        <td data-title="      ">13:10 |7| 14:00</td>
                        <td data-title="Monday">Lesson</td>
                        <td data-title="Tuesday">Lesson</td>
                        <td data-title="Wednesday">Lesson</td>
                        <td data-title="Thursday">Lesson</td>
                        <td data-title="Friday">Lesson</td>
                    </tr>
                    <tr>
                        <td data-title="      ">14:00 |8| 14:50</td>
                        <td data-title="Monday">Lesson</td>
                        <td data-title="Tuesday">Lesson</td>
                        <td data-title="Wednesday">Lesson</td>
                        <td data-title="Thursday">Lesson</td>
                        <td data-title="Friday">Lesson</td>
                    </tr>
                    <tr>
                        <td data-title="      ">15:00 |9| 15:50</td>
                        <td data-title="Monday">Lesson</td>
                        <td data-title="Tuesday">Lesson</td>
                        <td data-title="Wednesday">Lesson</td>
                        <td data-title="Thursday">Lesson</td>
                        <td data-title="Friday">Lesson</td>
                    </tr>
                    <tr>
                        <td data-title="      ">15:55 |10| 16:45	</td>
                        <td data-title="Monday">Lesson</td>
                        <td data-title="Tuesday">Lesson</td>
                        <td data-title="Wednesday">Lesson</td>
                        <td data-title="Thursday">Lesson</td>
                        <td data-title="Friday">Lesson</td>
                    </tr>
                    <tr>
                        <td data-title="      ">16:50 |11| 17:40	</td>
                        <td data-title="Monday">Lesson</td>
                        <td data-title="Tuesday">Lesson</td>
                        <td data-title="Wednesday">Lesson</td>
                        <td data-title="Thursday">Lesson</td>
                        <td data-title="Friday">Lesson</td>
                    </tr>
                    <tr>
                        <td data-title="      ">17:40 |12| 18:30	</td>
                        <td data-title="Monday">Lesson</td>
                        <td data-title="Tuesday">Lesson</td>
                        <td data-title="Wednesday">Lesson</td>
                        <td data-title="Thursday">Lesson</td>
                        <td data-title="Friday">Lesson</td>
                    </tr>
                    <tr>
                        <td data-title="      ">18:55 |13| 19:40	</td>
                        <td data-title="Monday">Lesson</td>
                        <td data-title="Tuesday">Lesson</td>
                        <td data-title="Wednesday">Lesson</td>
                        <td data-title="Thursday">Lesson</td>
                        <td data-title="Friday">Lesson</td>
                    </tr>
                    <tr>
                        <td data-title="      ">19:40 |14| 20:25	</td>
                        <td data-title="Monday">Lesson</td>
                        <td data-title="Tuesday">Lesson</td>
                        <td data-title="Wednesday">Lesson</td>
                        <td data-title="Thursday">Lesson</td>
                        <td data-title="Friday">Lesson</td>
                    </tr>
                    <tr>
                        <td data-title="      ">20:30 |15| 21:15	</td>
                        <td data-title="Monday">Lesson</td>
                        <td data-title="Tuesday">Lesson</td>
                        <td data-title="Wednesday">Lesson</td>
                        <td data-title="Thursday">Lesson</td>
                        <td data-title="Friday">Lesson</td>
                    </tr>
                    <tr>
                        <td data-title="      ">21:15 |16| 22:00	</td>
                        <td data-title="Monday">Lesson</td>
                        <td data-title="Tuesday">Lesson</td>
                        <td data-title="Wednesday">Lesson</td>
                        <td data-title="Thursday">Lesson</td>
                        <td data-title="Friday">Lesson</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>*@